:root {
    --color-negro: hsl(0, 0%, 0%);
    --color-blanco: hsl(100, 100%, 100%);
    --color-azul: hsl(210, 100%, 45%);
    --color-sub: hsl(0, 0%, 25%);
    --color-gris: hsl(0, 0%, 29%);
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: var(--color-negro);
    background-color: hsl(220, 30%, 96%);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: 30px;
    font-weight: 900;
    color: var(--color-azul);
    margin-left: 20px;
}

.Ejemplo1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Ejemplo2{
    display: none;
    margin-left: auto;
    margin-right: auto;

}

a{
    text-decoration: none;
}

button {
    width: 25%;
    height: 45px;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    border: 3px solid var(--color-azul);
    border-radius: 40px;
    cursor: pointer;
    transition: all .35s;
    margin-top: 20px;
    margin-left: 75%;
    background: var(--color-azul);
    color: var(--color-blanco);
    
}

.row{
    display: none;
}


button:hover {
    background: var(--color-blanco);
    color: var(--color-azul);
}

.cuestionario {
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 80%;
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.025);
}

.pagvolv{
    margin-right: 20%;
}

.tableStyle{
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
}

th:nth-child(3) {width: 500px;}
th:nth-child(1) {width: 50px;}
th:nth-child(2n) {font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

tr{
    height: 60px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


input[type="radio"] {
    position: static;
    margin: auto;
    border-radius: 100%;
    margin: 15px;
    width: 35px;
    height: 35px;
    accent-color: rgb(51, 141, 211);
}

p{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}


h2{
    margin-left: 20px;
    font-size: 20px;
}

@media only screen and (max-device-width: 480px) {

    .Ejemplo1{
        display: none;

    }

    .Ejemplo2{
        display: flex;

    }

    .cuestionario {
        max-width: 100%;
    }
    
    th:nth-child(1) {display: none;}
    th:nth-child(2n) {display: none;}
    
    th:nth-child(3) {
        height: 400px;
       }

    input[type="radio"] {
        position: static;
        border-radius: 100%;
        margin: 20px;
        width: 90px;
        height: 90px;
        accent-color: rgb(51, 141, 211);
        
        
    }


    .labelClassI {
        font-family:'Trebuchet MS', sans-serif;
        font-size: 35px;
        margin-top: 50px;
        font-weight: lighter;
        
    }

    .labelClassD{
        font-family:'Trebuchet MS', sans-serif;
        font-size: 35px;
        margin-top: 50px;
        font-weight: lighter;
        
    }

    .row{
        display: flex;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }

    button {
        width: 65%;
        height: 100px;
        padding: 30px;
        font-size: 40px;
        margin-left: 18%;
        border-radius: 50px;
        
    }    




}