:root {
    --color-negro: hsl(0, 0%, 0%);
    --color-blanco: hsl(100, 100%, 100%);
    --color-azul: hsl(210, 100%, 45%);
    --color-sub: hsl(0, 0%, 25%);
    --color-gris: hsl(0, 0%, 29%);
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: var(--color-negro);
    background-color: hsl(220, 30%, 96%);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: var(--color-azul);
    margin-left: 20px;
}

.siglink {
    top: 50px;
    left: 25%;
    width: 20%;
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    border-radius: 40px;
}

.sig {
    width: 50%;
    padding: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    border: 3px solid var(--color-azul);
    border-radius: 40px;
    cursor: pointer;
    transition: all .35s;
    background: var(--color-azul);
    color: var(--color-blanco);
}

.sig:hover{
    background: var(--color-blanco);
    color: var(--color-azul);
}

.cuestionario {
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 80%;
    background-color: #fff;
    padding: 60px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.025);
    height: 200px;
}

.titulo{
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}




@media only screen and (max-device-width: 480px) {

    .cuestionario {
        margin-top: 50%;
        height: 300px;
        border-radius: 20px;
    }

    h1 {
        font-size: 40px;
        padding: 5px;
    }

    .sig {
        font-size: 30px;
        height: 100px;
        width: 350px;

    }

}