:root {
    --color-negro: hsl(0, 0%, 0%);
    --color-blanco: hsl(100, 100%, 100%);
    --color-azul: hsl(210, 100%, 45%);
}

body {
    font-family: 'Tahoma', sans-serif;
    font-weight: 200;
    color: var(--color-negro);
    background-color: hsl(220, 30%, 96%);
    /*background: url(../static/img/fondo1.jpg);*/
}
