<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="/img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/responsefin.css">

    <title>Cuestionario UEQ | Crear UEQ </title>
</head>

<body>

    <div class="cuestionario">
        <div class="titulo">
            <h1>Usted ha generado un cuestionario correctamente</h1>
        </div>

        <h2>PIN para entrar al cuestionario:</h2>

        <script>
            var xml = new XMLHttpRequest();
            xml.open("GET", "../dataxml/itemsUEQS.xml", false);
            xml.send();
            var xmlData = xml.responseXML;
            var items = xmlData.getElementsByTagName("item");
            
            var container = document.getElementById('tablaItems');
            

        </script>

        <h2>O comparte mediante URL:</h2>
        <script>
            
        </script>

        <a href="../index.html" class="inicio">
                <button class="sig" type="submit">Volver a la página principal</button>
        </a>

    </div>

</body>

</html>