<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="/img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/respstyle.css">

    <title>Cuestionario UEQ | Crear UEQ </title>
</head>

<body>

    <div class="cuestionario">
        <div class="titulo">
            <h1>Cuestionario de experiencia de usuario sobre la aplicación de UEQ</h1>
        </div>

        <div class="descrip">
            <p>Este cuestionario consiste en....</p>
        </div>

        <table class = "listitem">
            <tbody>
                <tr> 
                    <% for(var i=0; i < 7; i++) { %>
                    <td><%= (i+1)%></td>
                    <td><%=items[i].item1%></td>
                    <td> <div class="puntuacion">
                        <input class="punto" type="radio" name="a" />
                        <input class="punto" type="radio" name="a" />
                        <input class="punto" type="radio" name="a" />
                        <input class="punto" type="radio" name="a" />
                        <input class="punto" type="radio" name="a" />
                        <input class="punto" type="radio" name="a" />
                        <input class="punto" type="radio" name="a" />
                    </div> </td>
                  
                    <td><%=items[i].item2%></td>
                  </tr>
                  <% } %>
            </tbody>
        </table>

            <a href="/responsepag2" class="sig">
            <div class="btn">
                <button class="sig" type="submit">Siguiente</button>   
               
            </div>
        </a>
            
        </div>

        
                </div>
            </div>

        </div>
    </div>

</body>




</html>