<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="../img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/respstyle.css">

    <title>Cuestionario UEQ | Crear UEQ </title>
</head>

<body>

    <div class="cuestionario">
        <div class="titulo">
            <h1>Cuestionario de experiencia de usuario sobre la aplicación de UEQ</h1>
        </div>

        <div class="descrip">
            <p>Este cuestionario consiste en....</p>
        </div>

        

            
            
        </div>

        
                </div>
            </div>

        </div>
    </div>

</body>




</html>