<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="../img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/respstyle.css">

    <title>Cuestionario | Responder cuestionario </title>
</head>

<body>

    <div class="cuestionario">
        <h1 id="title"></h1>
        <p id="descrip"></p>

        <div id="Ins">
        <h2>Instrucciones</h2>
        <p> El cuestionario se compone de pares de propiedades opuestas que el producto puede tener. <br>
            Usted puede expresar su conformidad con una propiedad marcando uno de los círculos que mejor refleje su impresión.<br>
            <b>Ejemplo:</b><br>
        </p>
        <img class="Ejemplo1" src="../img/Ejemplo.png" width="740" height="50">
        <img class ="Ejemplo2" src="../img/EjemploMob.png" width="740" height="250">

        <p>
            Esta gradación significaría que usted evalúa el producto no interesante que 
            interesante.<br>
            Por favor, decida espontáneamente. <br>
            Por favor, marque un círculo para cada par de propiedades, aunque piense 
            que no son aplicables o que hay propiedades parecidas o iguales. <br>
            <b>Recuerde: ¡no hay respuesta correcta o 
            incorrecta!</b></p>
        </div>


        <table id="listitem" class = "tableStyle">
        </table>

        <a href="./termina.html" class="pagterm">
            <button id="Envio" class="env" type="submit" hidden>Enviar Respuesta</button>
        </a>

        <a href="./respuestapag1.html" class="pagsig">
            <button id="Siguiente" class="env" type="submit" hidden>Siguiente página</button>
        </a>

        <a href="../index.html" class="pagsig">
            <button id="volver" class="pagvolv" type="submit" hidden>Volver a la página principal</button>
        </a>



        <script type="module">
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
            import { getDatabase, ref, set, get, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-database.js";

            const firebaseConfig = {
                apiKey: "AIzaSyBUtpFatRb8ubLIezntv_-aC5uqJ2ahAFw",
                authDomain: "ueqdatabase-26551.firebaseapp.com",
                databaseURL: "https://ueqdatabase-26551-default-rtdb.firebaseio.com",
                projectId: "ueqdatabase-26551",
                storageBucket: "ueqdatabase-26551.appspot.com",
                messagingSenderId: "275866539227",
                appId: "1:275866539227:web:d2ef1b9730c6a4863a28fe"
            };

            const app = initializeApp(firebaseConfig);
            const db = getDatabase();

            var genbtn = document.getElementById("Envio");
            var sigbtn = document.getElementById("Siguiente");

            var item01Res = document.getElementsByName("item1");
            var item02Res = document.getElementsByName("item2");
            var item03Res = document.getElementsByName("item3");
            var item04Res = document.getElementsByName("item4");
            var item05Res = document.getElementsByName("item5");
            var item06Res = document.getElementsByName("item6");
            var item07Res = document.getElementsByName("item7");
            var item08Res = document.getElementsByName("item8");

            var Pin;

            var Title = document.getElementById("title");
            var Descrip = document.getElementById("descrip");

            function displaySig(){
                    document.getElementById('Siguiente').hidden = false;
                }
            
            function displayFin(){
                document.getElementById('Envio').hidden = false;
            }

            function getRes(item1Res) {
                for (var i = 0, length = item1Res.length; i < length; i++) {
                    if (item1Res[i].checked) {
                        return item1Res[i].value;
                    }
                }
            }

            function saveAnswShort() {
                set(ref(db, "TemporalResShort"), {
                    item01: getRes(item01Res),
                    item02: getRes(item02Res),
                    item03: getRes(item03Res),
                    item04: getRes(item04Res),
                    item05: getRes(item05Res),
                    item06: getRes(item06Res),
                    item07: getRes(item07Res),
                    item08: getRes(item08Res)
                });
            }
            genbtn.addEventListener('click', saveAnswShort)

            function saveAnsw() {
                set(ref(db, "TemporalResUEQPag0"), {
                    item01: getRes(item01Res),
                    item02: getRes(item02Res),
                    item03: getRes(item03Res),
                    item04: getRes(item04Res),
                    item05: getRes(item05Res),
                    item06: getRes(item06Res),
                    item07: getRes(item07Res),
                });
            }
            sigbtn.addEventListener('click', saveAnsw)


            function getPIN() {
                get(ref(db, "PINResp")).then((snapshot) => {
                    if (snapshot.exists()) {
                        Pin = snapshot.val().PIN;
                        getData(Pin);
                    }
                    else {
                        alert("Error al buscar el PIN");
                    }
                })
                    .catch((error) => {
                        alert("ERROR " + error);
                    });
            }
            window.onload = getPIN;


            function getData(PIN) {
                const dbref = ref(db);
                get(child(dbref, "Cuestionarios/" + Pin)).then((snapshot) => {
                    if (snapshot.exists()) {
                        document.getElementById('title').innerHTML = snapshot.val().Titulo;
                        document.getElementById('descrip').innerHTML = snapshot.val().Descrip;
                        let type = snapshot.val().Type;
                        document.getElementById('volver').hidden = true;
                        let text = "UeqShort";
                        let nulo = "undefined";
                        if(PIN.localeCompare(nulo) == 1){
                        if (text.localeCompare(type) == 0) {
                            loadUEQS();
                            displayFin();
                        }
                        else 
                        {
                            displaySig();
                            loadUEQ();
                        }
                    }
                    else{
                        document.getElementById('title').innerHTML = "Error: El cuestionario no existe, compruebe su PIN y vuelve a intentarlo";
                        document.getElementById('descrip').hidden = true;
                        document.getElementById('Ins').hidden = true;
                        document.getElementById('volver').hidden = false;
                    }
                    }

                    {
                        document.getElementById('title').innerHTML = "Error: El cuestionario no existe, compruebe su PIN y vuelve a intentarlo";
                        document.getElementById('Ins').hidden = true;
                        document.getElementById('volver').hidden = false;
                    }
                }).catch((error) => {
                    alert("ERROR " + error);
                });
            }

            function loadUEQS() {
                var tbody = document.getElementById("listitem");
                var html = 
                    '<tr>' +
                    '<th>1</th>' +
                    '<th>Obstructivo</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Obstructivo</label>' +
                    '<label class="labelClassD">Impulsor</label>' +
                    '</div>' +
                    '<input type="radio" name="item1" value="1">' +
                    '<input type="radio" name="item1" value="2">' +
                    '<input type="radio" name="item1" value="3">' +
                    '<input type="radio" name="item1" value="4" checked="true">' +
                    '<input type="radio" name="item1" value="5">' +
                    '<input type="radio" name="item1" value="6">' +
                    '<input type="radio" name="item1" value="7">' +
                    '</th>' +
                    '<th>Impulsor</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>2</th>' +
                    '<th>Complicado</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Complicado</label>' +
                    '<label class="labelClassD">Fácil</label>' +
                    '</div>' +
                    '<input type="radio" name="item2" value="1">' +
                    '<input type="radio" name="item2" value="2">' +
                    '<input type="radio" name="item2" value="3">' +
                    '<input type="radio" name="item2" value="4" checked="true">' +
                    '<input type="radio" name="item2" value="5">' +
                    '<input type="radio" name="item2" value="6">' +
                    '<input type="radio" name="item2" value="7">' +
                    '</th>' +
                    '<th>Fácil</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>3</th>' +
                    '<th>Ineficiente</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Ineficiente</label>' +
                    '<label class="labelClassD">Eficiente</label>' +
                    '</div>' +
                    '<input type="radio" name="item3" value="1">' +
                    '<input type="radio" name="item3" value="2">' +
                    '<input type="radio" name="item3" value="3">' +
                    '<input type="radio" name="item3" value="4" checked="true">' +
                    '<input type="radio" name="item3" value="5">' +
                    '<input type="radio" name="item3" value="6">' +
                    '<input type="radio" name="item3" value="7">' +
                    '</th>' +
                    '<th>Eficiente</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>4</th>' +
                    '<th>Confuso</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Confuso</label>' +
                    '<label class="labelClassD">Claro</label>' +
                    '</div>' +
                    '<input type="radio" name="item4" value="1">' +
                    '<input type="radio" name="item4" value="2">' +
                    '<input type="radio" name="item4" value="3">' +
                    '<input type="radio" name="item4" value="4" checked="true">' +
                    '<input type="radio" name="item4" value="5">' +
                    '<input type="radio" name="item4" value="6">' +
                    '<input type="radio" name="item4" value="7">' +
                    '</th>' +
                    '<th>Claro</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>5</th>' +
                    '<th>Aburrido</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Aburrido</label>' +
                    '<label class="labelClassD">Emocionante</label>' +
                    '</div>' +
                    '<input type="radio" name="item5" value="1">' +
                    '<input type="radio" name="item5" value="2">' +
                    '<input type="radio" name="item5" value="3">' +
                    '<input type="radio" name="item5" value="4" checked="true">' +
                    '<input type="radio" name="item5" value="5">' +
                    '<input type="radio" name="item5" value="6">' +
                    '<input type="radio" name="item5" value="7">' +
                    '</th>' +
                    '<th>Emocionante</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>6</th>' +
                    '<th>No interesante</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">No interesate</label>' +
                    '<label class="labelClassD">Interesante</label>' +
                    '</div>' +
                    '<input type="radio" name="item6" value="1">' +
                    '<input type="radio" name="item6" value="2">' +
                    '<input type="radio" name="item6" value="3">' +
                    '<input type="radio" name="item6" value="4" checked="true">' +
                    '<input type="radio" name="item6" value="5">' +
                    '<input type="radio" name="item6" value="6">' +
                    '<input type="radio" name="item6" value="7">' +
                    '</th>' +
                    '<th>Interesante</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>7</th>' +
                    '<th>Convencional</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Convencional</label>' +
                    '<label class="labelClassD">Original</label>' +
                    '</div>' +
                    '<input type="radio" name="item7" value="1">' +
                    '<input type="radio" name="item7" value="2">' +
                    '<input type="radio" name="item7" value="3">' +
                    '<input type="radio" name="item7" value="4" checked="true">' +
                    '<input type="radio" name="item7" value="5">' +
                    '<input type="radio" name="item7" value="6">' +
                    '<input type="radio" name="item7" value="7">' +
                    '</th>' +
                    '<th>Original</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>8</th>' +
                    '<th>Convencional</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Convencional</label>' +
                    '<label class="labelClassD">Novedoso</label>' +
                    '</div>' +
                    '<input type="radio" name="item8" value="1">' +
                    '<input type="radio" name="item8" value="2">' +
                    '<input type="radio" name="item8" value="3">' +
                    '<input type="radio" name="item8" value="4" checked="true">' +
                    '<input type="radio" name="item8" value="5">' +
                    '<input type="radio" name="item8" value="6">' +
                    '<input type="radio" name="item8" value="7">' +
                    '</th>' +
                    '<th>Novedoso</th>' +
                    '</tr>'
                tbody.innerHTML = html;
            }

            function loadUEQ() {
                var tbody = document.getElementById("listitem");
                var html =
                    '<tr>' +
                    '<th>1</th>' +
                    '<th>Desagradable</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Desagradable</label>' +
                    '<label class="labelClassD">Agradable</label>' +
                    '</div>' +
                    '<input type="radio" name="item1" value="1">' +
                    '<input type="radio" name="item1" value="2">' +
                    '<input type="radio" name="item1" value="3">' +
                    '<input type="radio" name="item1" value="4" checked="true">' +
                    '<input type="radio" name="item1" value="5">' +
                    '<input type="radio" name="item1" value="6">' +
                    '<input type="radio" name="item1" value="7">' +
                    '</th>' +
                    '<th>Agradable</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>2</th>' +
                    '<th>No entendible</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">No entedible</label>' +
                    '<label class="labelClassD">Entendible</label>' +
                    '</div>' +
                    '<input type="radio" name="item2" value="1">' +
                    '<input type="radio" name="item2" value="2">' +
                    '<input type="radio" name="item2" value="3">' +
                    '<input type="radio" name="item2" value="4" checked="true">' +
                    '<input type="radio" name="item2" value="5">' +
                    '<input type="radio" name="item2" value="6">' +
                    '<input type="radio" name="item2" value="7">' +
                    '</th>' +
                    '<th>Entendible</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>3</th>' +
                    '<th>Creativo</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Creativo</label>' +
                    '<label class="labelClassD">Sin imaginación</label>' +
                    '</div>' +
                    '<input type="radio" name="item3" value="1">' +
                    '<input type="radio" name="item3" value="2">' +
                    '<input type="radio" name="item3" value="3">' +
                    '<input type="radio" name="item3" value="4" checked="true">' +
                    '<input type="radio" name="item3" value="5">' +
                    '<input type="radio" name="item3" value="6">' +
                    '<input type="radio" name="item3" value="7">' +
                    '</th>' +
                    '<th>Sin imaginación</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>4</th>' +
                    '<th>Fácil de aprender</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Fácil de aprender</label>' +
                    '<label class="labelClassD">Difícil de aprender</label>' +
                    '</div>' +
                    '<input type="radio" name="item4" value="1">' +
                    '<input type="radio" name="item4" value="2">' +
                    '<input type="radio" name="item4" value="3">' +
                    '<input type="radio" name="item4" value="4" checked="true">' +
                    '<input type="radio" name="item4" value="5">' +
                    '<input type="radio" name="item4" value="6">' +
                    '<input type="radio" name="item4" value="7">' +
                    '</th>' +
                    '<th>Dificil de aprender</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>5</th>' +
                    '<th>Valioso</th>' +
                    '<th>'+
                    '<div class="row">' +
                    '<label class="labelClassI">Valioso</label>' +
                    '<label class="labelClassD">De poco valor</label>' +
                    '</div>' +
                    '<input type="radio" name="item5" value="1">' +
                    '<input type="radio" name="item5" value="2">' +
                    '<input type="radio" name="item5" value="3">' +
                    '<input type="radio" name="item5" value="4" checked="true">' +
                    '<input type="radio" name="item5" value="5">' +
                    '<input type="radio" name="item5" value="6">' +
                    '<input type="radio" name="item5" value="7">' +
                    '</th>' +
                    '<th>De poco valor</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>6</th>' +
                    '<th>Aburrido</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">Aburrido</label>' +
                    '<label class="labelClassD">Emocionante</label>' +
                    '</div>' +
                    '<input type="radio" name="item6" value="1">' +
                    '<input type="radio" name="item6" value="2">' +
                    '<input type="radio" name="item6" value="3">' +
                    '<input type="radio" name="item6" value="4" checked="true">' +
                    '<input type="radio" name="item6" value="5">' +
                    '<input type="radio" name="item6" value="6">' +
                    '<input type="radio" name="item6" value="7">' +
                    '</th>' +
                    '<th>Emocionante</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>7</th>' +
                    '<th>No interesante</th>' +
                    '<th>' +
                    '<div class="row">' +
                    '<label class="labelClassI">No interesante</label>' +
                    '<label class="labelClassD">Interesante</label>' +
                    '</div>' +
                    '<input type="radio" name="item7" value="1">' +
                    '<input type="radio" name="item7" value="2">' +
                    '<input type="radio" name="item7" value="3">' +
                    '<input type="radio" name="item7" value="4" checked="true">' +
                    '<input type="radio" name="item7" value="5">' +
                    '<input type="radio" name="item7" value="6">' +
                    '<input type="radio" name="item7" value="7">' +
                    '</th>' +
                    '<th>Interesante</th>' +
                    '</tr>'
                tbody.innerHTML = html;
            }

        </script>
    </div>

</body>




</html>