<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="../img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/respstyle.css">

    <title>Cuestionario | Responder cuestionario </title>
</head>

<body>

    <div class="cuestionario">
        <h1 id="title"></h1>
        <p id="descrip"></p>

        <table id="listitem" class = "tableStyle">
        </table>

        <a href="./respuestapag2.html" class="pagsig">
            <button id="Siguiente" class="env" type="submit">Siguiente página</button>
        </a>

        <script type="module">
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
            import { getDatabase, ref, set, get, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-database.js";

            const firebaseConfig = {
                apiKey: "AIzaSyBUtpFatRb8ubLIezntv_-aC5uqJ2ahAFw",
                authDomain: "ueqdatabase-26551.firebaseapp.com",
                databaseURL: "https://ueqdatabase-26551-default-rtdb.firebaseio.com",
                projectId: "ueqdatabase-26551",
                storageBucket: "ueqdatabase-26551.appspot.com",
                messagingSenderId: "275866539227",
                appId: "1:275866539227:web:d2ef1b9730c6a4863a28fe"
            };

            const app = initializeApp(firebaseConfig);
            const db = getDatabase();

            var sigbtn = document.getElementById("Siguiente");

            var item8Res = document.getElementsByName("item8");
            var item9Res = document.getElementsByName("item9");
            var item10Res = document.getElementsByName("item10");
            var item11Res = document.getElementsByName("item11");
            var item12Res = document.getElementsByName("item12");
            var item13Res = document.getElementsByName("item13");
            var item14Res = document.getElementsByName("item14");
            var Pin;

            var Title = document.getElementById("title");
            var Descrip = document.getElementById("descrip");

            function getRes(itemRes) {
                for (var i = 0, length = itemRes.length; i < length; i++) {
                    if (itemRes[i].checked) {
                        return itemRes[i].value;
                    }
                }
            }

            function saveAnsw() {
                set(ref(db, "TemporalResUEQPag1"), {
                    item8: getRes(item8Res),
                    item9: getRes(item9Res),
                    item10: getRes(item10Res),
                    item11: getRes(item11Res),
                    item12: getRes(item12Res),
                    item13: getRes(item13Res),
                    item14: getRes(item14Res),
                });
            }
            sigbtn.addEventListener('click', saveAnsw)

            function getPIN() {
                get(ref(db, "PINResp")).then((snapshot) => {
                    if (snapshot.exists()) {
                        Pin = snapshot.val().PIN;
                        getData(Pin);
                    }
                    else {
                        alert("Error al buscar el PIN");
                    }
                })
                    .catch((error) => {
                        alert("ERROR " + error);
                    });
            }
            window.onload = getPIN;

            function getData(PIN) {
                const dbref = ref(db);
                get(child(dbref, "Cuestionarios/" + Pin)).then((snapshot) => {
                    if (snapshot.exists()) {
                        document.getElementById('title').innerHTML = snapshot.val().Titulo;
                        document.getElementById('descrip').innerHTML = snapshot.val().Descrip;
                        loadUEQ();
                    }
                }).catch((error) => {
                    alert("ERROR " + error);
                });
            }


            function loadUEQ() {
                var tbody = document.getElementById("listitem");
                var html =  
                    '<tr>' +
                    '<th>8</th>' + 
                    '<th>Imprededible</th>' +
                '<th><input type="radio" name="item8" value="1">' +
                    '<input type="radio" name="item8" value="2">' +
                    '<input type="radio" name="item8" value="3">' +
                    '<input type="radio" name="item8" value="4" checked="true">' +
                    '<input type="radio" name="item8" value="5">' +
                    '<input type="radio" name="item8" value="6">' +
                    '<input type="radio" name="item8" value="7">' +
                '</th>' +
                '<th>Predecible</th>' +
                '</tr>' +
                '<tr>' +
                '<th>9</th>' +
                '<th>Rápido</th>' +
                '<th><input type="radio" name="item9" value="1">' +
                    '<input type="radio" name="item9" value="2">' +
                    '<input type="radio" name="item9" value="3">' +
                    '<input type="radio" name="item9" value="4" checked="true">' +
                    '<input type="radio" name="item9" value="5">' +
                    '<input type="radio" name="item9" value="6">' +
                    '<input type="radio" name="item9" value="7">' +
                '</th>' +
                '<th>Lento</th>' +
            '</tr>' +
            '<tr>' +
                '<th>10</th>' +
                '<th>Original</th>' +
                '<th><input type="radio" name="item10" value="1">' +
                    '<input type="radio" name="item10" value="2">' +
                    '<input type="radio" name="item10" value="3">' +
                    '<input type="radio" name="item10" value="4" checked="true">' +
                    '<input type="radio" name="item10" value="5">' +
                    '<input type="radio" name="item10" value="6">' +
                    '<input type="radio" name="item10" value="7">' +
                '</th>' +
                '<th>Convencional</th>' +
            '</tr>' +
            '<tr>' +
                '<th>11</th>' +
                '<th>Obstructivo</th>' +
                '<th><input type="radio" name="item11" value="1">' +
                    '<input type="radio" name="item11" value="2">' +
                    '<input type="radio" name="item11" value="3">' +
                    '<input type="radio" name="item11" value="4" checked="true">' +
                    '<input type="radio" name="item11" value="5">' +
                    '<input type="radio" name="item11" value="6">' +
                    '<input type="radio" name="item11" value="7">' +
                '</th>' +
                '<th>Impulsor de apoyo</th>' +
            '</tr>' +
            '<tr>' +
                '<th>12</th>' +
                '<th>Bueno</th>' +
                '<th><input type="radio" name="item12" value="1">' +
                    '<input type="radio" name="item12" value="2">' +
                    '<input type="radio" name="item12" value="3">' +
                    '<input type="radio" name="item12" value="4" checked="true">' +
                    '<input type="radio" name="item12" value="5">' +
                    '<input type="radio" name="item12" value="6">' +
                    '<input type="radio" name="item12" value="7">' +
                '</th>' +
                '<th>Malo</th>' +
            '</tr>' +
            '<tr>' +
                '<th>13</th>' +
                '<th>Complicado</th>' +
                '<th><input type="radio" name="item13" value="1">' +
                    '<input type="radio" name="item13" value="2">' +
                    '<input type="radio" name="item13" value="3">' +
                    '<input type="radio" name="item13" value="4" checked="true">' +
                    '<input type="radio" name="item13" value="5">' +
                    '<input type="radio" name="item13" value="6">' +
                    '<input type="radio" name="item13" value="7">' +
                '</th>' +
                '<th>Fácil</th>' +
            '</tr>' +
            '<tr>' +
                '<th>14</th>' +
                '<th>Repeler</th>' +
                '<th><input type="radio" name="item14" value="1">' +
                    '<input type="radio" name="item14" value="2">' +
                    '<input type="radio" name="item14" value="3">' +
                    '<input type="radio" name="item14" value="4" checked="true">' +
                    '<input type="radio" name="item14" value="5">' +
                    '<input type="radio" name="item14" value="6">' +
                    '<input type="radio" name="item14" value="7">' +
                '</th>' +
                '<th>Atraer</th>' +
            '</tr>'
                tbody.innerHTML = html;
            }

        </script>
    </div>

</body>




</html>