<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="/img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/terminastyle.css">

    <title>Cuestionario UEQ | Crear UEQ </title>
</head>

<body>

    <div class="cuestionario">
        <div class="titulo">
            <h1>¡Muchas gracias por completar el cuestionario!</h1>
        </div>



            <a href="../index.html" class="sig">
            <div class="btn">
                <button class="sig" type="submit">Volver a la página principal</button>   
               
            </div>
        </a>
            
        </div>

        
                </div>
            </div>

        </div>
    </div>

</body>




</html>