<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="../img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/terminastyle.css">

    <title>Cuestionario UEQ | Crear UEQ </title>
</head>

<body>

    <div class="cuestionario">
        <div class="titulo">
            <h1>¡Muchas gracias por completar el cuestionario!</h1>
        </div>

        <a href="../index.html" class="siglink">
            <button class="sig" type="submit">Volver a la página principal</button>
        </a>

    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
        import { getDatabase, ref, set, get, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyBUtpFatRb8ubLIezntv_-aC5uqJ2ahAFw",
            authDomain: "ueqdatabase-26551.firebaseapp.com",
            databaseURL: "https://ueqdatabase-26551-default-rtdb.firebaseio.com",
            projectId: "ueqdatabase-26551",
            storageBucket: "ueqdatabase-26551.appspot.com",
            messagingSenderId: "275866539227",
            appId: "1:275866539227:web:d2ef1b9730c6a4863a28fe"
        };

        const app = initializeApp(firebaseConfig);
        const db = getDatabase();
        var resID = Math.abs(Math.floor(Math.random() * (100000000 + 999999999) - 100000000));
        var Pin;

        function getPIN() {
            get(ref(db, "PINResp")).then((snapshot) => {
                if (snapshot.exists()) {
                    Pin = snapshot.val().PINExpo;
                    getData(Pin);
                }
                else {
                    alert("Error al buscar el PIN");
                }
            })
                .catch((error) => {
                    alert("ERROR " + error);
                });
        }
        window.onload = getPIN;

        function getData(Pin) {
            const dbref = ref(db);
            get(child(dbref, "TemporalResShort")).then((snapshot) => {
                if (snapshot.exists()) {
                    set(ref(db, "RespuestasUEQ/" + Pin + "/" + resID), {
                        item01: snapshot.val().item01,
                        item02: snapshot.val().item02,
                        item03: snapshot.val().item03,
                        item04: snapshot.val().item04,
                        item05: snapshot.val().item05,
                        item06: snapshot.val().item06,
                        item07: snapshot.val().item07,
                        item08: snapshot.val().item08,

                    }).then(() => {
                        alert("Se han enviado las respuestas correctamente");
                    })
                    remove(ref(db, "TemporalRes"));
                }
                else {
                    alert("Error al guardar los resultados")
                }
            }).catch((error) => {
                alert("ERROR " + error);
            });
        }


    </script>



</body>




</html>