<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="../img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/ueqstyle.css">
    <title>Cuestionario UEQ | Crear UEQ </title>
</head>

<body>

    <div class="cabecera">
        <h1>Demo Cuestionario UEQ </h1>
        <a href="../templates/generado.html" class="generado">
            <button id="Genbtn" class="enviar" type="submit">Generar cuestionario</button>
        </a>

    </div>


    <div class="cuestionario">
        <div class="titulo">
            <label>Título</label>
            <input id="Titulo" name="titulo" type="text" class="input-box" placeholder="Añade un título al proyecto"
                required>
        </div>

        <div class="descrip">
            <label>Descripción</label>
            <textarea id="Descrip" name="text" class="input-box"
                placeholder="Aquí puedes incluir información del sistema a testear, instrucciones o detalles"></textarea>
        </div>

        <h3><b>Vista previa</b> de los ítems del cuestionario que se generará</h3>

        <table class="listitem">
            <tbody id="itemsprev">
            </tbody>
        </table>
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
        import { getDatabase, ref, set, get, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyBUtpFatRb8ubLIezntv_-aC5uqJ2ahAFw",
            authDomain: "ueqdatabase-26551.firebaseapp.com",
            databaseURL: "https://ueqdatabase-26551-default-rtdb.firebaseio.com",
            projectId: "ueqdatabase-26551",
            storageBucket: "ueqdatabase-26551.appspot.com",
            messagingSenderId: "275866539227",
            appId: "1:275866539227:web:d2ef1b9730c6a4863a28fe"
        };

        const app = initializeApp(firebaseConfig);
        const db = getDatabase();

        var title = document.getElementById("Titulo");
        var descrip = document.getElementById("Descrip");
        var genbtn = document.getElementById("Genbtn");
        var cuesID = Math.floor(Math.random() * (10000 + 99999) - 10000);

        function posData() {
            set(ref(db, "Cuestionarios/" + cuesID), {
                Titulo: title.value,
                Descrip: descrip.value,
                Type: "Ueq",
                CuestionarioID: cuesID,
                url: "Url de la pagina"
            })
                .then(() => {
                    alert("Se ha creado correctamente el cuestionario");
                })
                .catch((error) => {
                    alert("ERROR" + error);
                });
        }
        genbtn.addEventListener('click', posData)

        var stn = 0;
        var tbody = document.getElementById("itemsprev");

        function additems(ID, Prop1, Prop2) {
            let trow = document.createElement("tr")
            let tdid = document.createElement("td");
            let tdpro1 = document.createElement("td");
            let tdpunt = document.createElement("td");
            let tdpro2 = document.createElement("td");

            tdid.innerHTML = ID;
            tdpro1.innerHTML = Prop1;
            tdpro2.innerHTML = Prop2;

            trow.appendChild(tdid);
            trow.appendChild(tdpro1);
            tdpunt = trow.insertCell();
            const radio = ['radio1', 'radio2', 'radio3', 'radio4', 'radio5', 'radio6', 'radio7'];
            tdpunt.innerHTML = radio.map((radio) => `<input type="radio" name="radio1" value="valor" id=${radio}>`).join(' ');
            trow.appendChild(tdpro2);
            tbody.appendChild(trow);
        }

        function datos(items) {
            tbody.innerHTML = "";
            items.forEach(element => {
                additems(element.ID, element.Prop1, element.Prop2);
            });
        }

        function getData() {
            const dbref = ref(db);

            get(child(dbref, "items")).then((snapshot) => {
                var items = [];
                snapshot.forEach(childSnapshot => {
                    items.push(childSnapshot.val());
                });
                datos(items);
            });
        }
        window.onload = getData;

    </script>

</body>

</html>