<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="../img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/ueqSstyle.css">

    <title>Cuestionario UEQ | Crear UEQ </title>
</head>

<body>

    <div class="cabecera">
        <h1>Demo Cuestionario UEQ S</h1>
        <a href="../templates/generado.html" class="generado">
        <div class="btn">
            <button onclick="generar()">Generar cuestionario</button>
        </div>
        </a>

    </div>

    <div class="cuestionario">
        <div class="titulo">
            <label>Título</label>
            <input type="text">
        </div>

        <div class="descrip">
            <label>Descripción</label>
            <textarea name="text"> </textarea>
        </div>

        <h3><b>Vista previa1</b> de los ítems del cuestionario que se generará</h3>

        <div id="tablaItems"></div>

        <script>
            table = document.createElement('table');
            var xml = new XMLHttpRequest();
            xml.open("GET", "../dataxml/itemsUEQS.xml", false);
            xml.send();
            var xmlData = xml.responseXML;
            
            var items = xmlData.getElementsByTagName("item");

            for (var i = 0; i < items.length; i++) {
                var tr = table.insertRow();
                //ITEMID
                var td = tr.insertCell();
                td.innerHTML = items[i].getElementsByTagName("itemID")[0].firstChild.data;
                //PROP1
                td = tr.insertCell();
                td.innerHTML = items[i].getElementsByTagName("item1")[0].firstChild.data;
                //INPUTS
                td = tr.insertCell();
                var input = document.createElement("input");
                input.setAttribute("type", "radio");
                td.innerHTML = getElementById("input");
                //PROP2
                td = tr.insertCell();
                td.innerHTML = items[i].getElementsByTagName("item2")[0].firstChild.data;
            }

            var container = document.getElementById('tablaItems');
            container.appendChild(table);

            function generar() {
                var xml = new XMLHttpRequest();
                xml.open("POST", "../dataxml/cuestionario.xml", false);
                xml.send();
                var xmlData = xml.responseXML;

            }
        </script>

    </div>

</body>




</html>