<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="../img/clipboard2-heart-fill.svg">
    <link rel="stylesheet" href="../css/ueqSstyle.css">

    <title>Cuestionario UEQ | Crear UEQ </title>
</head>

<body>

    <div class="cabecera">
        <h1>Demo Cuestionario UEQ S</h1>

        <a href="../templates/generado.html" class="generado">
            <button onclick="generar()">Generar cuestionario</button>
        </a>

    </div>

    <div class="cuestionario">
        <div class="titulo">
            <label>Título</label>
            <input type="text" id="titulo"> </input>
        </div>

        <div class="descrip">
            <label>Descripción</label>
            <textarea id="descrip"> </textarea>
        </div>

        <h3><b>Vista previa</b> de los ítems del cuestionario que se generará</h3>

        <div id="tablaItems"></div>

        <script>
            table = document.createElement('table');
            var xml = new XMLHttpRequest();
            xml.open("GET", "../dataxml/itemsUEQS.xml", false);
            xml.send();
            var xmlData = xml.responseXML;

            var items = xmlData.getElementsByTagName("item");

            for (var i = 0; i < items.length; i++) {
                var tr = table.insertRow();
                //ITEMID
                var td = tr.insertCell();
                td.innerHTML = items[i].getElementsByTagName("itemID")[0].firstChild.data;
                //PROP1
                td = tr.insertCell();
                td.innerHTML = items[i].getElementsByTagName("item1")[0].firstChild.data;
                //INPUTS
                td = tr.insertCell();
                const radio = ['radio1', 'radio2', 'radio3', 'radio4', 'radio5', 'radio6', 'radio7'];
                td.innerHTML = radio.map((radio) => `
                <input type="radio" name="radio1" value="valor" id="radio1">`).join(' ');

                //PROP2
                td = tr.insertCell();
                td.innerHTML = items[i].getElementsByTagName("item2")[0].firstChild.data;
            }

            var container = document.getElementById('tablaItems');
            container.appendChild(table);

            function generar() {
                var xmlpost = new XMLHttpRequest();
                xmlpost.open("POST", "../dataxml/itemsUEQS.xml");

                xmlpost.setRequestHeader("Content-Type", application/x-www-form-urlencoded);

                xmlpost.onreadystatechange = function () {
                    if (xmlpost.readyState === 4) {
                        console.log(xmlpost.status);
                        console.log(xmlpost.responseText);
                    }
                };

                cuestionario = "<cuestionarios><cuestionario>" +
                    "<tipo>UEQS</tipo>" + "<titulo>" + document.getElementById("titulo") + "</titulo>" +
                    "<descrip>" + document.getElementById("descrip") + "</descrip>" +
                    "<PIN>2005</PIN>" + "<url>Pagina<url>" +
                    "</cuestionario></cuestionarios>";

                xmlpost.send(cuestionario);
            }
        </script>

    </div>

</body>




</html>